.canvas {
    width: 1280px;
    height: 720px;
    background-color: #2B9E61;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

body {
    background-color: darkgray;
}